{% extends "3_col_base.html" %}{% load static %}


{% block content %}
    Recipe name: {{ recipe.name }}
    <br>
    Edit:
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ formset.management_form }}
        <div id='ingredient-form-list'>
        {% for ingredient_form in formset %}
            <div class="ingredient-form">
                {{ ingredient_form.as_p }}
            </div>            
        {% endfor %}   
        </div>    
        
        <div id='empty-form' class='hidden-formset'>
            {{ formset.empty_form.as_p }}
        </div>
        <button id='add-more' type='button'>Add more</button>
        <input type="submit" value="Save">
    </form>
{% endblock content %}

{% block js %}
<script src="{% static 'recipe/js/new-form-in-formset.js' %}"></script>
{% endblock js %}