{% extends "3_col_base.html" %}

{% block left_sidebar %} LEFT SIDEBAR {% endblock left_sidebar %}
 
{% block content %}
Uzytkownik {{ user.get_username }}
<br>
<a href="http://127.0.0.1:8000/api/">API</a>
<br>
<a href="http://127.0.0.1:8000/admin">ADMIN</a>
<br>
<a href="{% url 'recipe:recipe_list' %}">RECIPE LIST</a>
<br>
<a href="{% url 'account:login' %}">Login</a>
<br>
<a href="{% url 'account:logout' %}">Logout</a>
<br>
<a href="{% url 'account:password_reset' %}">Password reset</a>
<br>
<a href="{% url 'recipe:my_recipes' %}">My recipes</a>
<br>
<a href="{% url 'recipe:recipe_create' %}">Create recipe</a>
{% endblock content %}        



{% block right_sidebar %}
Right side barRight side bar <br>
Right side bar Right side bar <br>
Right side bar Right side bar <br>
Right side bar Right side bar <br>
Right side bar Right side bar <br>
Right side bar Right side bar <br>
Right side bar Right side bar <br>
Right side bar Right side bar <br>
Right side bar Right side bar <br>
Right side bar Right side bar <br>
{% endblock right_sidebar %}
    
